/* h1 {
    background: #eee;
    color: green;
    font-size: 50px;

    border-width: 3px;
    border-color: blue;
    border-style: solid;
    border: 3px blue solid;

    width: 500pxs;
    max-width: 500px;
    height: 80px;
    
    overflow: hidden;
    text-align: center;
    line-height: 80px;
    margin: 50px;

    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;

    margin: 10px 20px 30px 40px;
    margin: 20px 40px;
    margin: 10px 20px 40px

    margin: 20px;
    margin-top: 50px;

    padding: 60px;
    float: right;
}
.super-special{
    width: 100px;
    height: 100px;
    background: red;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 50px;
    color: blue;
    opacity: 0.5;
}
.special1{
    z-index: 2;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 
}
.special2{
    left: 50px;
    background: blue;
    z-index: 1;
}
.special3{
    left: 25px;
    top: 50px;
    background: green;
} */
